{% extends 'base.html.twig' %}

{% block title %}Welcome to Raccoon Web!{% endblock %}

{% block body %}
<center>
<h1>Raccoon Web</h1>
<h3>This is index!</h3>
<img src="https://image.flaticon.com/icons/svg/1841/1841046.svg" height="70" width="70"></img><br/>
</center>
{% endblock %}