{% extends 'base.html.twig' %}

{% block title %}Welcome to Raccoon Web!{% endblock %}


{% block body %}
<center>
<h1>Raccoon Web</h1>
<h3>The rodents manual</h3>

{% for entry in entries %}
	<ul style="list-style-type:none;" id="entry">
		<li><strong>{{ entry.title }}</strong></li>
		<li>{{ entry.body }}</li>
	</ul></br>
{% endfor %}

<p>Oh okay, raccoon is not a rodent but it's a cute animal!</p>
<img src="https://image.flaticon.com/icons/svg/1841/1841046.svg" height="70" width="70"></img><br/>
<a href="https://getraccoonsout.com/are-raccoons-rodents/">More info</a></br>

</center>
{% endblock %}