{% extends 'base.html.twig' %}

{% block title %}Welcome to Raccoon Web!{% endblock %}


{% block body %}
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
<center>
<h1>Raccoon Web</h1>
<h3>The rodents manual</h3>
<p>Oh okay, raccoon is not a rodent but it's a cute animal!</p>
<img src="https://image.flaticon.com/icons/svg/1841/1841046.svg" height="70" width="70"></img><br/>
<a href="https://getraccoonsout.com/are-raccoons-rodents/">More info</a>
</center>
{% endblock %}